.slick-slider .card.image-full:before {
  opacity: 0.2;
}
.slick-slider .card figure:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 75%,
    rgba(0, 0, 0, 0.9) 100%
  );
  opacity: 0.4;
  transition: 0.5s;
  pointer-events: none;
  border-radius: 1rem;
}
.slick-slider .card.card-side figure:after {
  border-radius: 0px;
}
.slick-slider .card img {
  transition: 0.5s;
}
.slick-slider .card .card-title {
  transition: 0.5s;
}
.slick-slider .card:hover figure:after {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 75%,
    rgba(0, 0, 0, 0.9) 100%
  );
  opacity: 0.8;
}
.slick-slider .card:hover .card-title {
  color: #75b8ff;
}
.slick-slider .card:hover img {
  transform: scale(1.1);
}
.slick-slider .card:hover .btn-bookmark {
  opacity: 1;
}

/* Dots */
.slick-slider .slick-dots {
  text-align: start;
  padding: 0px 10px;
}
.slick-dots li button:before {
  background-color: #2c78dd;
  width: 10px;
  height: 5px;
  content: "";
  border-radius: 10px;
}
.slick-dots li {
  padding: 0px;
  margin-left: 2px;
  margin-right: 2px;
  width: 10px;
  height: 5px;
  transition: 0.5s;
}
.slick-dots li.slick-active {
  width: 20px;
  height: 5px;
}
.slick-dots li.slick-active button:before {
  width: 20px;
}

/* Bookmark */
.slick-slider .btn-bookmark {
  opacity: 0;
  transition: 0.5s;
}
